html {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
  font-family: "times new roman", times, serif;
}


header {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#entete {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

h1 {
  margin-top: 30px;
  margin-left: 20px;
  color: #0177bf;
  font-size: 30px;
}

h1, .logo {
  margin : auto;
}

h1, nav {
  font-variant: small-caps;
}

nav {
  display:flex;
  justify-content: center;
}

nav ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}

li {
  padding: 10px;
  width:100px;
  background-color: lightgrey;
  border-left: 1px solid black;
}

nav a {
  text-decoration: none;
  border-left: 1px;
  border-right: 1px;
}
li:hover, a:hover {
  background-color: pink;
  color: white;
}

nav li:last-of-type {
  border-right: 1px solid black;
}


#fieldset1 {
  display:flex;
  flex-direction: row;
  text-align: left;
}

#fieldset2 {
  display:flex;
  flex-direction: row;
  text-align: left;
}

#fieldset2 label {
  position:absolute;
  display:flex;
  flex-direction: column;
}

#fieldset2 select{
  position:relative;
  margin-left: 150px;
  display:flex;
  flex-direction: column;
  width : 145px;
  height : 20px;
}

#date {
  position:relative;
  margin-left: 150px;
}

form {
  width : 320px;
  background-color: #0177bf;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

fieldset {
  border: none;
}

label {
  text-align: left;
}

legend {
  text-decoration: underline;
}


#valider {
  padding-left: 50px;
  padding-right: 50px;
  background-color: red ;
  border: none;
  border-radius: 5px;
  color: white;
}
 #valider:hover{
   background: pink;
 }

 #section {
   margin: auto;
   width:90%;
   display:flex;
   flex-direction: row;
   justify-content: center;
 }

 .cocotiers {
   margin-left: 5px;
   border-radius: 5px;
 }
